<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <main class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="display-1 text-center mt-5" th:text="${codigo}"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="display-1 text-center mt-5" th:text="${mensaje}"></div>
            </div>
        </div>

    </main>
    
</body>
</html>