<!DOCTYPE html>
<html lang="es-ar" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <h2 th:text="${success}" style="text-align: center ; color: green"></h2>
        <div class="containerIndex">
            <div class="sup">
            <form th:action="@{/login}">
                <button type="submit" class="btn2" sec:authorize="!isAuthenticated()">Iniciar sesion</button>
                
            </form>
            <form th:action="@{/logout}">
                <button type="submit" class="btn2" sec:authorize="isAuthenticated()">Cerrar sesion</button> 
            </form>
            </div>
            <div class="medio">
                <form th:action="@{/busqueda}">
                    <div class="imgIndex">
                        <button class="btn3" role="button" sec:authorize="hasRole('ROLE_EMPRESA')">Comenzar busqueda

                        </button>
                    </div>
                </form>
            </div>
            <div class="inf">
                <form th:href="@{/registro/registro-empleado}">
                    <div class="der">
                        <button class="btn3" sec:authorize="!isAuthenticated()" >Registrar empleado
                        </button>
                    </div>
                </form>
                
                <form th:action="@{/registro/registro-empresa}">
                    <div class="izq">
                        <button class="btn3" sec:authorize="!isAuthenticated()">Registrar empresa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
