<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>listaDeCandidatos</title>
</head>
<body>
    <div class="containerLista">
        <div class="titulo">
            <span>Lista de candidatos</span>
        </div>
        <div class="container-container">
            <div class="titulos">
                <div>
                    <span>Foto</span>
                </div>
                <div>
                    <span>Nombre</span>
                </div>
                <div>
                    <span>Acciones</span>
                </div>
            </div>
            <div class="grid-container">
                <div class="foto">
                    <div class="circuloimg">
                    </div>
                </div>
                <div class="nombre">
                    <p th:each="empleado : ${empleados}" th:text="${empleado.nombre}"></p>
                </div>
                <div class="acciones">
                    <button class="btn">Ver perfil</button>
                </div>
                <div class="foto">
                    <div class="circuloimg">
                    </div>
                </div>
                <div class="nombre"></div>
                <div class="acciones"></div>
                <div class="foto">
                    <div class="circuloimg">
                    </div>
                </div>
                <div class="nombre"></div>
                <div class="acciones"></div>
                <div class="foto">
                    <div class="circuloimg">
                    </div>
                </div>
                <div class="nombre"></div>
                <div class="acciones"></div>
            </div>
        </div>    
    </div>    
</body>
</html>