<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registrar empleador</h1>
    <from>
        <label>Nombre de usuario</label><br>
        <input type="text" name="nombreusuario"><br>
        <label>Contraseña</label><br>
        <input type="password" name="contraseña"><br>
        <label>Repetir contraseña</label><br>
        <input type="password" name="repetircontraseña"><br>
        <label>Nombre y apellido o Nombre de la empresa</label><br>
        <input type="text" name="nombre"><br>
        <label>Número de contacto</label><br>
        <input type="number" name="numeroContacto"><br>
        <button type="submit">Enviar</button>
    </from>
</body>
</html>